body {
    background-color: #DCDCDC;
}

.jumbotron {
    background-image: url("../assets/jumbotron/team-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
    height: 275px;
}

.card-header {
    background-color: #FFB6C1;
}

.manager-card {
    background-color: yellowgreen;
}

.engineer-card {
    background-color: sienna;
}

.intern-card {
    background-color: peru;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: .65;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    margin-right: 5px;
}

.fa-github {
    background: #2c4762;
    color: white;
    margin-left: 5px;
}

#copyright {
    text-align: center;
}

#social-media {
    text-align: center;
}

h3 {
    text-align: center;
}

#e_mail {
    text-align: center
}